<!doctype html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>KF66 Morning Call System</title>
    <link rel="stylesheet" href="<%= basepath %>static/css.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script type="text/javascript" src="<%= basepath %>socket.io/socket.io.js"></script>
    <script type="text/javascript" src="<%= basepath %>static/components.js"></script>
  </head>
  <body data-basepath="<%= basepath %>">
    <div id="app"></div>
  </body>
</html>

