<!doctype html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>a</title>
    <link rel="stylesheet" href="/static/css.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script type="text/javascript" src="/static/components.js"></script>
  </head>
  <body>
    <div id="app"></div>
  </body>
</html>

